<!-- 页头部分 -->
body{
	
	font-family:'宋体'；
	height: 3000px;
}
a{
	text-decoration: none;
	line-height: 1.8em;
}
span{
	float: right;
}

.header{
	background-image: url(../images/bg.gif);
	height: 205px;
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
	margin: -5px;

}
.banner{
	width: 1000px;
	height: 164px;
	background-position: center;
	margin-left: 50px;
	padding-top: 30px;
}
.nav{
	height: 40px;
	background-image: url(../images/nav.jpg);
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -25px;
}
.nav_body{
	width: 1200px;
	font-weight: bold;
	text-height:50px;
	margin-left: 100px;
}
.nav_content{
	text-align: center;
	font-size:12px;
	padding-top: 0.2em;
}
.oneul li{
	border-right: 2px #ffffff solid;
	list-style: none;
	float: left;
	margin-right: 10px;
	padding-right: 20px;
}
#abcd{
	border: none;
}

.niu{
	margin-top: -22px;
}
.kuang{
	width: 140px;
	height: 19px;
	background-color: #f8f5ee;
	margin-left: 830px;

}
.sousuo{
	
	background-color: #000000;
	color: #ffffff;
	
	border: 1px #f8f5ee solid;
	margin-left: 931px;
	margin-top: -24px;
}
/*页面主体部分*/
#content{
	width: 1000px;
	margin: auto;
	clear: left;
	clear: right;
	margin-left: 130px;
	
}
/*页面主体部分的顶部*/
#content_top{
	height: 210px;
	overflow: hidden;
	
	margin-top: 9px;
}
#news_pic{
	width: 324px;
	height: 243px;
	background-image: url(../images/news_bg.png);

	background-repeat: no-repeat;
	float: left;
	background-size: 300px 200px;
	margin-right: -20px;
	font-size: 12px;

	
}
.news{
	margin: -30px -15px;
}
.word{
	text-align: center;
	margin-top: 30px;
	font-size:12px;
	color: #522a06;
}
#news_list{
	width: 350px;
	height: 243px;
	margin-left: 38px;
	float: left;

}
.change{
	
	float: left;
}
.new_list0 li a{
	padding-left: -6px;
	
}


.list1{
	width: 355px;
	float: left;
	padding-left: 6px;
	font-size: 12px;
	line-height: 1.8em;
	margin-left: -25px;


}

#new_announce{
	width: 277px;
	height: 205px;
	
	float: right;
	margin-top: 0px;
	margin-right: 40px;


}
.border{
	width: 113px;
	height:23px;
	margin-top: -35px;
	margin-left: 40px;

}

.list2{
	font-size: 12px;
	background-image: url(../images/board_bg.png);
	background-repeat: no-repeat;
	background-size: 277px 205px;
	line-height: 1.8em;
	margin-left: -5px;
	
}

/*页面主体部分的中间部分*/
#content_bottom_left{
	width: 712px;
	float: left;
	
}
/*学术争鸣*/
#academic{
	width: 355px;
	float: left;
	
}
.academicpng{
	float: left;
}
.list3{
	width: 360px;
	margin-left: -40px;
	font-size: 12px;
	line-height: 1.8em;
	float: left;
}
.more1{

	margin-left: -50px;
	padding-left: -20px;
	margin-top: 5px;
}

/*书坛新闻*/

#book_news{
	width: 355px;
	float: left;
	margin-left: -20px;	
}
.book_newspng{
	float: left;
}
.list4{
	width: 370px;
	margin-left: -40px;
	font-size: 12px;
	line-height: 1.8em;
	float: left;
}
/*燕赵风采*/
#fengcai{
	width: 680px;
	height: 223px;
	clear: left right;
	
	margin-left: -20px;	
	
}
.fengcaipng{
	float: left;
	
}
.list5{
	float: left;
	height: 136px;
	background-image:url(../images/fengcai_bg2.png); 
	background-repeat: no-repeat;
	background-size: 750px 167px;
	margin-top: -10px;
	padding-bottom: 30px;
	padding-right: 25px;
}
.list5 li{


	float: left;
	list-style: none;
	
}
.more4{
	float: right;
	margin-right: 10px;
}

#content_bottom_right{
	width: 280px;
	margin-top: 20px;
	float: left;
	margin-top: -256px;
	margin-left: 18px;
}
.show{
	font-size: 12px;
	line-height: 1.8em;
}
.showpng{
	height: 40px;
	margin-left: 70px;
	margin-top: 15px;
	position: center;
	
}
.kuangkuang{
	width: 280px;
	height:362px;
	background-image: url(../images/show_bg.png);
	background-repeat: no-repeat;
}
.mingjia{

	margin-left: 30px;
	padding-top: 20px;
}
#ouyang{
	font-weight: bold;
	color: red;
	float: left;
	margin-top: 0px;
	height: 12px;
}
.list6{
	width: 250px;
	margin-top: -5px;
	font-size:12px;
	color: #522a06;
}
.list6 li{

	list-style: none;
}
#view{
	width: 35px;
	height: 17px;
	float: right;
	margin-right: 8px;
}
#footer{
	height: 105px;
	
	background-image: url(../images/foot.gif);
	
	margin-top: 200px;
}
.list7{
	width: 600px;
	margin: auto;

}
.list7 ul li{
	list-style: none;

}
.abc{
	float: left;
	color: #000000;
	font-size:12px;
	font-weight: bold;
	margin-right: 15px;
	border-right: 2px #000000 solid;
	padding-right: 20px;
}
#abcd{
	border: none;
}
.line{
	margin-top: 40px;
	clear: left;
	margin-left: 350px;
}
.banquan{
	font-size:12px;
	font-family: serif;
	color: #522a06;
	line-height: 1.8em;
	margin-left: 450px;
}
